{% extends "base.html" %}
{% block content %}
  <div class="row g-4">
    <div class="col-12">
      <h1 class="h3 mb-3">Welcome to the Decentralised Discovery Networks Registry</h1>
      <p class="text-muted">
          This registry contains information about networks created and operated by the
          <a href="https://github.com/Firefox2100/dedi-gateway" target="_blank" class="link-muted">Decentralised Discovery Gateway project</a>,
          or any other services running a compatible protocol implementation. Currently, the registry
          contains {{ network_count }} networks and {{ node_count }} nodes.
      </p>
    </div>

    <div class="col-sm-6">
      <div class="card shadow-sm h-100">
        <div class="card-body text-center">
          <div class="display-4 fw-bold">{{ network_count }}</div>
          <div class="text-secondary">Networks</div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card shadow-sm h-100">
        <div class="card-body text-center">
          <div class="display-4 fw-bold">{{ node_count }}</div>
          <div class="text-secondary">Nodes</div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <section class="mt-4">
        <h2 class="h5">About</h2>
        <p>
          The Decentralised Discovery Gateway is a service offering plug-and-play message and data federation across
          different nodes. It features a fully decentralised architecture with minimal trust, where each node
          controls user authorisation autonomously. It also allows nodes to exist beyond a project or cohort's
          lifetime, even after the original operators have gone or the central portal has been shut down.
        </p>
        <p>
          The networks created by Decentralised Discovery Gateway nodes are local -- means that they are not controlled
          by any central authority. As a result, it's often hard to find -- you need to know which node to check
          and what network you want to join. This registry aims to solve that problem by allowing services running
          a compatible protocol implementation to register their networks and nodes here, making them discoverable
          and accessible to users from outside their local projects.
        </p>
      </section>
    </div>
  </div>
{% endblock %}
